<%- include('./partials/userHeader.ejs') %>
<script src="/static/mornEdits.js" defer></script>
<div class="container">
    <h1>Report morning activity</h1>
    <% if (errors && errors.length > 0) { %>
        <% errors.forEach((error) => { %>
          <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
        <% }); %>
    <% } %>
    <form method="POST" action="/report/morning">
        <div class="form-group">
            <fieldset>    
                <label for="mornDate">1) Date of reporting (today as a default): </label>
                <input class="form-control" type="date" id="mornDate" name="morningDate" value='<%= morningDate %>'/><br>

                <label for="sleepHours">2) How many hours did you sleep last night? </label>
                <input class="form-control" type="number" step="any" id="sleepHours" name="sleepHours" min="0" value="<%= sleepHours %>"/><br>

                <label for="sleepQuality">3) On a scale from 1 to 5, how well-slept you woke up this morning?</label><br>
                <select class="custom-select" id="inputGroupSelect01" name="sleepQuality" value="<%= sleepQuality %>">
                    <option selected>Choose...</option>
                    <option value="1">1 (bad)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (good)</option>
                  </select>

                <label for="morningMood">4) On a scale from 1 to 5, how are you feeling in general?</label><br>
                <select class="custom-select" id="inputGroupSelect01" name="morningMood" value="<%= morningMood %>">
                    <option selected>Choose...</option>
                    <option value="1">1 (bad)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (good)</option>
                  </select>
                <p></p>
                <input type="submit" value="Submit!" class="btn btn-primary" />
            </fieldset>
        </div>
    </form>
    <a href="/behavior/summary" class="btn btn-secondary my-2">Back</a>
</div>
<%- include('./partials/footer.ejs') %>