<%- include('./partials/header.ejs') %>
<div class = "container">
    <h1>Your WellBoing</h1><br>
    <h2>Mood today: <%=moods.todayMood%> <%=moods.moodTrend%></h2>
    <p>(mood yesterday: <%=moods.yesterdayMood%>)</p>
    <br>
    <h2>Monthly averages:</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Average sleep duration:</th>
            <th scope="col">Average quality of sleep:</th>
            <th scope="col">Average time spent on exercise/sports:</th>
            <th scope="col">Average time spent on studying:</th>
            <th scope="col">Average general mood:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= monthly.avgMonSleep %> hours</td>
            <td><%= monthly.avgMonSleepQuality %> / 5</td>
            <td><%= monthly.avgMonSport %> hours</td>
            <td><%= monthly.avgMonStudy %> hours</td>
            <td><%= monthly.avgMonMood %> / 5</td>
          </tr>
        </tbody>
      </table><br>
    <h2>Weekly averages:</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Average sleep duration:</th>
            <th scope="col">Average quality of sleep:</th>
            <th scope="col">Average time spent on exercise/sports:</th>
            <th scope="col">Average time spent on studying:</th>
            <th scope="col">Average general mood:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= weekly.avgWeeSleep %> hours</td>
            <td><%= weekly.avgWeeSleepQuality %> / 5</td>
            <td><%= weekly.avgWeeSport %> hours</td>
            <td><%= weekly.avgWeeStudy %> hours</td>
            <td><%= weekly.avgWeeMood %> / 5</td>
          </tr>
        </tbody>
      </table>
</div>
<%- include('./partials/footer.ejs') %>